<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.grameenfoundation.noyawa.noyawaonthego" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >

        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.grameenfoundation.noyawa.noyawaonthego.activity.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateVisible">
        </activity>

        <activity android:name="org.grameenfoundation.noyawa.noyawaonthego.activity.AudioGalleryActivity"></activity>
        <activity android:name="org.grameenfoundation.noyawa.noyawaonthego.activity.FirstTrimesterActivity"></activity>
        <activity android:name="org.grameenfoundation.noyawa.noyawaonthego.activity.ForgotPasswordActivity"></activity>
        <activity android:name="org.grameenfoundation.noyawa.noyawaonthego.activity.MenuActivity"></activity>
        <activity android:name="org.grameenfoundation.noyawa.noyawaonthego.activity.NewClientRegistrationActivity"></activity>
        <activity android:name="org.grameenfoundation.noyawa.noyawaonthego.activity.PregnancyMenuActivity"></activity>
        <activity android:name="org.grameenfoundation.noyawa.noyawaonthego.activity.RadioSeriesActivity"></activity>
        <activity android:name="org.grameenfoundation.noyawa.noyawaonthego.activity.SecondTrimesterActivity"></activity>
        <activity android:name="org.grameenfoundation.noyawa.noyawaonthego.activity.StoryMenuActivity"></activity>
        <activity android:name="org.grameenfoundation.noyawa.noyawaonthego.activity.ThirdTrimesterActivity"></activity>
        <activity android:name="org.grameenfoundation.noyawa.noyawaonthego.activity.TopicsMenuActivity"></activity>
        <activity android:name="org.grameenfoundation.noyawa.noyawaonthego.activity.VisualAidsViewPager"></activity>
        <activity android:name="org.grameenfoundation.noyawa.noyawaonthego.activity.VisualAidsGalleryView"></activity>
        <activity android:name="org.grameenfoundation.noyawa.noyawaonthego.activity.YouthHealthMenuActivity"></activity>
        <activity android:name="org.grameenfoundation.noyawa.noyawaonthego.application.URLMediaPlayerActivity"></activity>
        <activity android:name="org.grameenfoundation.noyawa.noyawaonthego.activity.MeetingsActivity"></activity>
        <activity android:name="org.grameenfoundation.noyawa.noyawaonthego.activity.LanguageSettingsActivity"></activity>
    </application>

</manifest>
